@media (max-width: 1199px) {

    .form {
        min-height: 300px;

        &__item {
            min-width: calc(30vw + 30px);
        }
    }

    .hero {
        &__price-placeholder {
            max-width: calc(15vw - 5px);
        }
    }

    .top {
        &__container {
            justify-content: space-between;
        }

        &__logo,
        &__info,
        &__contact {
            margin-right: 0;
        }
    }

    .submit {
        margin-bottom: 60px;

        &__wrapper {
            padding: 55px;
        }
    }

    .districts {
        margin-bottom: 70px;

        &__item {
            font-size: 16px;
        }

        &__list {
            margin-bottom: 50px;
        }

        &__title {
            margin-bottom: 35px;
        }
    }

    .footer {
        padding-top: 70px;
    }
}

@media (max-width: 992px) {
    .container {
        padding: 0 30px;
    }

    .hero {
        padding-top: 50px;
        margin-bottom: 80px;

        &__title {
            font-size: 40px;
        }

        &__desc {
            font-size: 17px;
        }

        &__form {
            margin-bottom: 60px;
        }

        &__title {
            margin-bottom: 15px;
        }

        &__button {
            padding: 23px 70px;
        }

        &__submit {
            font-size: 18px;
        }
    }

    .form {
        &__item {
            font-size: 16px;
        }

        &__input {
            padding-bottom: 15px;
        }

        &__dash {
            font-size: 20px;
        }
    }

    .top {
        &__info {
            display: none;
        }
    }

    .flats {
        &__container {
            flex-direction: column;
        }

        &__main {
            order: 0;
            margin-bottom: 20px;
        }

        &__menu {
            order: 1;
            margin-right: 0;
        }

        &__wrapper {
            justify-content: space-around;
            margin-bottom: 0;
        }

        &__flat {
            margin-bottom: 40px;
        }
    }

    .menu {
        &__item:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    .submit {
        padding-top: 40px;
        padding-bottom: 40px;
        margin-bottom: 40px;

        &__wrapper {
            padding: 50px;
            background-image: none;
            background-color: #f1f2f7;
        }

        &__title {
            margin-bottom: 15px;
            font-size: 28px;
        }

        &__text {
            margin: 0 0 10px;
        }

        &__top {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        &__input {
            max-width: 20vw;
        }

        &__button {
            padding: 16px 24px;
            margin-left: auto;
        }

        &__checkbox {
            padding-top: 2px;
            padding-left: 28px;
            font-size: 15px;
        }


    }

    .checkmark {
        background-color: #cbcbcb;
    }

    .districts {
        margin-bottom: 40px;

        &__list {
            max-height: 250px;
        }

        &__item {
            font-size: 15px;
        }

        &__title {
            font-size: 38px;
            margin-bottom: 25px;
        }

        &__paragraph,
        &__subtitle {
            font-size: 16px;
        }
    }

    .footer {
        padding-top: 50px;
        padding-bottom: 70px;
        background-size: cover;

        &__wrapper {
            flex-wrap: wrap;
        }
    }

    .account {
        flex-direction: column;

        &__profile {
            margin: 0 auto;
        }

        &__exit {
            display: none;

            &--profile {
                display: block;
            }
        }
    }

    .profile {
        &__button {
            margin-bottom: 15px;
        }
    }
}

@media (max-width: 768px) {

    .top {
        padding-top: 30px;
        padding-bottom: 30px;

        &__link {
            display: none;
        }
    }
    .person {
        width: 40px;
        height: 40px;
    }

    .hero {
        padding-top: 20px;
        margin-bottom: 30px;

        &__title {
            font-size: 36px;
            margin-bottom: 5px;
        }

        &__square-placeholder {
            max-width: 85px;
        }
    }

    .form {

    }

    .flats {
        &__title {
            font-size: 35px;
            margin-bottom: 35px;
        }
    }

    .submit {
        margin-bottom: 30px;
    }

    .districts {
        &__title {
            font-size: 30px;
        }

        &__list {
            min-height: 320px;
        }
    }
}

@media (max-width: 715px) {
    .flats {
        &__flat {
            width: 70%;
        }

        &__image {
            width: 100%;
            height: auto;
        }

        &__info {
            max-width: none;
        }
    }
    .submit {
        &__top {
            min-height: 200px;
            flex-direction: column;
            align-items: normal;
        }

        &__button {
            margin-left: 0;
        }

        &__input {
            width: 100%;
            max-width: none;
            margin-right: 0;
        }

        &__checkbox {
            line-height: 24px;
        }
    }
}

@media (max-width: 615px) {
    .districts {
        &__list {
            min-height: 480px;
        }
    }
}

@media (max-width: 599px) {
    .flats {
        &__info {
            min-height: 350px;
        }

        &__flat {
            width: 100%;
        }

        &__status {
            font-size: 16px;
        }

        &__name {
            font-size: 20px;
        }

        &__city,
        &__cost,
        &__desc {
            font-size: 16px;
        }
    }
}

@media (max-width: 576px) {
    .top {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .hero {
        padding-top: 40px;

        &__desc {
            margin-bottom: 40px;
        }

        &__title {
            font-size: 30px;
            line-height: 30px;
            margin-bottom: 15px;
        }

        &__form {
            min-height: 540px;
            flex-direction: column;
        }

        &__square,
        &__price {
            &-placeholder {
                max-width: 90px;
            }
        }
    }
    .menu {
        &__title {
            font-size: 14px;
        }

        &__item {
            font-size: 12px;
        }

        &__item:not(:last-child) {
            margin-bottom: 12px;
        }
    }
    .flats {
        &__title {
            font-size: 28px;
            line-height: 30px;
        }

        &__status {
            font-size: 14px;
        }

        &__name {
            font-size: 16px;
        }

        &__city,
        &__cost,
        &__desc {
            font-size: 14px;
        }

        &__more {
            font-size: 16px;
        }
    }
    .submit {
        &__wrapper {
            padding: 35px;
        }

        &__title {
            font-size: 18px;
        }

        &__text {
            font-size: 12px;
        }

        &__placeholder {
            font-size: 14px;
        }

        &__send {
            font-size: 16px;
        }

        &__checkbox {
            font-size: 12px;
            line-height: 20px;
        }

        &__aside {
            font-size: 14px;
        }
    }
    .form {
        &__item {
            min-width: 100%;
        }
    }
    .contact {
        display: none;
    }
    .districts {
        &__title {
            font-size: 28px;
            line-height: 30px;
        }

        &__list {
            margin-bottom: 30px;
        }

        &__paragraph {
            font-size: 14px;
        }
    }

    .profile {
        width: 100%;

        &__title {
            font-size: 20px;
        }

        &__image {
            margin-bottom: 15px;
        }
    }

    .login {
        padding-top: 50px;

        &__title {
            margin-bottom: 20px;
        }
    }

    .auth {
        &__first {
            flex-direction: column;
            margin-bottom: 0;
        }

        &__name {
            width: 100%;
            margin-bottom: 11px;
        }
    }

    .footer {
        &__title {
            font-size: 16px;
        }

        &__info {
            width: 100%;
        }
    }
}

@media (max-width: 443px) {
    .hero {
        &__button {
            padding: 23px 35px;
        }
    }
    .districts {
        &__item {
            font-size: 12px;
        }
    }
}

@media (max-width: 320px) {

}

