* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1320px;
    width: 92%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.splitter {
    width: 100%;
    height: 1px;
    background: #C4C4C4;
}

.form {
    min-height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 18px;
        color: $black;
    }


    &__input {
        padding-top: 15px;
        padding-bottom: 20px;
        background: transparent;
        border: none;
    }

    &__span {
        margin-bottom: 5px;
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 18px;
        color: $hero-gray;
    }

    &__dash {
        font-weight: 500;
        font-size: 30px;
    }

    &__textbox {
        padding-top: 10px;
        padding-bottom: 10px;
        border: 1px solid rgba(0, 0, 0, .15);
    }
}

.form-button {
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background: #396AB6;
    color: $white;
    cursor: pointer;
}

.btn {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    background: #FF3324;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #eee;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

.input-submit {
    border: none;
    background: transparent;
    cursor: pointer;
    color: inherit;
}

.auth {
    &__form {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        margin-bottom: 30px;

        input {
            border: 1px solid #949494;
            border-radius: 4px;
            height: 35px;
        }

        label {
            font-style: normal;
            font-weight: normal;
            font-size: 14px;
            line-height: 17px;
            color: #1A1A1A;
        }

        span {
            margin-bottom: 6px;
        }
    }

    &__input {
        display: flex;
        flex-direction: column;
    }

    &__input:not(:last-child) {
        margin-bottom: 11px;
    }

    &__first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    &__name {
        width: 200px;
        height: 58px;
        display: flex;
        flex-direction: column;
    }
}

