* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    max-width: 1320px;
    width: 90%;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.splitter {
    width: 332px;
    height: 1px;
    background: #C4C4C4;
}

.form {
    display: flex;
    flex-direction: column;

    input {
        border: 1px solid #949494;
        border-radius: 4px;
        height: 35px;
    }

    label {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 17px;
        color: #1A1A1A;
    }

    span {
        margin-bottom: 6px;
    }

    &__input:not(:last-child) {
        margin-bottom: 11px;
    }

    &__input {
        display: flex;
        flex-direction: column;
    }

    &__first {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 25px;
    }

    &__name {
        width: 200px;
        height: 58px;
        display: flex;
        flex-direction: column;
    }
}

.form-button {
    border: none;
    border-radius: 4px;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    background: #396AB6;
    color: $white;
    cursor: pointer;
}

.btn {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    text-align: center;
    background: #FF3324;
    border-radius: 3px;
    color: #fff;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #eee;
}

.checkmark:after {
    content: '';
    position: absolute;
    display: none;
}

input[type=submit] {
    border: none;
    font-size: 18px;
    font-weight: bold;
    background: transparent;
    cursor: pointer;
    color: inherit;
}

