$black: #000;
$white: #fff;
$darkblue: #112138;
$lightblue: #1D4178;
$cost: #2F4B77;
$gray: #666;
$lightblueform: #396AB6;
$red: #B63939;
$footer: #1C4179;
$footer_red: #FF3324;
$form: #36445C;
$formBG: #F1F3F9;
$aside: #1953AA;
$hero-gray: #828282;
