.account {
    display: flex;
    padding-top: 40px;
    padding-left: 40px;

    &__link {
        display: flex;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 8px;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        text-decoration: none;
        color: $black;
    }

    &__profile {
        padding-top: 13px;
        padding-left: 45px;
        margin-right: auto;
    }

    &__link span {
        margin-right: auto;
    }

    &__icon {
        margin-right: 10px;
    }

    &__splitter {
        width: 230px;
    }

    &__leave {
        padding: 10px 20px;
        background: $red;
        text-decoration: none;
    }
}

.splitter-large {
    width: 1px;
    height: 754px;
}

.profile {
    width: 483px;

    &__title {
        margin-bottom: 38px;
    }

    &__image {
        display: block;
        text-align: center;
        margin-bottom: 40px;
    }

    &__form {
        margin-bottom: 30px;
    }

    &__button {
        padding: 10px 20px;
        margin-bottom: 9rem;
    }
}
