.top {
    padding-top: 50px;
    padding-bottom: 50px;

    &__container {
        display: flex;
        align-items: center;
    }

    &__logo {
        margin-right: 75px;
    }

    &__info {
        width: 223px;
        margin-right: 128px;
        font-style: normal;
        font-weight: 300;
        font-size: 12px;
        line-height: 18px;
        color: $black;
    }

    &__contact {
        margin-right: auto;
    }

    &__account {
        display: flex;
        align-items: center;
        text-decoration: none;
    }

    &__link {
        margin-right: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        color: $black;
    }
}

.contact {
    color: $black;

    &__call {
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        line-height: 18px;
        text-decoration: none;
        color: inherit;
    }

    &__phone {
        margin-bottom: 6px;
    }

    &__span {
        padding-left: 28px;
    }
}

.call {
    margin-right: 10px;
}
