.hero {
    padding-top: 113px;
    padding-bottom: 68px;
    margin-bottom: 120px;
    background: url("/img/hero/bg.png") no-repeat left center, linear-gradient(250.7deg, #EAF2FF 21.91%, #FFF6F5 106.15%);
    background-size: 100%;
}
